# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/

# Environment variables (IMPORTANT 🔐)
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules (agar frontend me use ho)
node_modules/

# Build folders
dist/
build/